<a href="https://colab.research.google.com/github/nadhifazlfa/praktikum.big.data.week3/blob/main/Praktikum_bigdata_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# DataFrame sederhana dan operasi dasar
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('HandsOnPertemuan3').getOrCreate()

data = [('James', 'Sales', 3000),
        ('Michael', 'Sales', 4600),
        ('Robert', 'Sales', 4100),
        ('Maria', 'Finance', 3000),
        ('Scoot', 'Finance', 3300)]
columns = ['EmployeeName', 'Department', 'Salary']

df = spark.createDataFrame(data, schema=columns)
df.show()

+------------+----------+------+
|EmployeeName|Department|Salary|
+------------+----------+------+
|       James|     Sales|  3000|
|     Michael|     Sales|  4600|
|      Robert|     Sales|  4100|
|       Maria|   Finance|  3000|
|       Scoot|   Finance|  3300|
+------------+----------+------+

In [ ]:
# DataFrame Spark dan operasi dasar filter()
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('HandsOnPertemuan3').getOrCreate()

data = [('James', 'Sales', 3000),
        ('Michael', 'Sales', 4600),
        ('Robert', 'Sales', 4100),
        ('Maria', 'Finance', 3000),
        ('Scoot', 'Finance', 3300)]
columns = ['EmployeeName', 'Department', 'Salary']

df = spark.createDataFrame(data, schema=columns)
df.filter(df['Salary']> 4000).show()

+------------+----------+------+
|EmployeeName|Department|Salary|
+------------+----------+------+
|     Michael|     Sales|  4600|
|      Robert|     Sales|  4100|
+------------+----------+------+

In [ ]:
# DataFrame Spark sederhana dan operasi dasar select()
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('HandsOnPertemuan3').getOrCreate()

data = [('James', 'Sales', 3000),
        ('Michael', 'Sales', 4600),
        ('Robert', 'Sales', 4100),
        ('Maria', 'Finance', 3000),
        ('Scoot', 'Finance', 3300)]
columns = ['EmployeeName', 'Department', 'Salary']

df = spark.createDataFrame(data, schema=columns)

df.select('EmployeeName', 'Salary').show()

+------------+------+
|EmployeeName|Salary|
+------------+------+
|       James|  3000|
|     Michael|  4600|
|      Robert|  4100|
|       Maria|  3000|
|       Scoot|  3300|
+------------+------+

In [ ]:
# DataFrame Spark sederhana dan operasi dasar groupBy()
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('HandsOnPertemuan3').getOrCreate()

data = [('James', 'Sales', 3000),
        ('Michael', 'Sales', 4600),
        ('Robert', 'Sales', 4100),
        ('Maria', 'Finance', 3000),
        ('Scoot', 'Finance', 3300)]
columns = ['EmployeeName', 'Department', 'Salary']

df = spark.createDataFrame(data, schema=columns)

df.groupBy('Department').avg('Salary').show()

+----------+-----------+
|Department|avg(Salary)|
+----------+-----------+
|     Sales|     3900.0|
|   Finance|     3150.0|
+----------+-----------+

In [2]:
# DataFrame Spark sederhana & operasi dasar groupBy() + fungsi agregasi
from pyspark.sql import SparkSession
from pyspark.sql.functions import count, mean, max

# Inisialisasi Spark
spark = SparkSession.builder.appName("Contoh").getOrCreate()

# Membuat data contoh
data = [
    ("James", "Sales", 3000),
    ("Michael", "Sales", 4600),
    ("Robert", "Sales", 4100),
    ("Maria", "Finance", 3000),
    ("Scoot", "Finance", 3000)
]

# Membuat DataFrame
columns = ["Department", "EmployeeName", "Salary"]
df = spark.createDataFrame(data, columns)

# Melakukan agregasi
result = df.groupBy('Department').agg(
    count("EmployeeName").alias("Employee Count"),
    mean("Salary").alias("Average Salary"),
    max("Salary").alias("Max Salary")
)

# Menampilkan hasil
result.show()

+----------+--------------+--------------+----------+
|Department|Employee Count|Average Salary|Max Salary|
+----------+--------------+--------------+----------+
|     James|             1|        3000.0|      3000|
|   Michael|             1|        4600.0|      4600|
|     Scoot|             1|        3000.0|      3000|
|     Maria|             1|        3000.0|      3000|
|    Robert|             1|        4100.0|      4100|
+----------+--------------+--------------+----------+

In [ ]:
# DataFrame Spark sederhana dan operasi dasar groupBy()
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('HandsOnPertemuan3').getOrCreate()

data = [('James', 'Sales', 3000),
        ('Michael', 'Sales', 4600),
        ('Robert', 'Sales', 4100),
        ('Maria', 'Finance', 3000),
        ('Scoot', 'Finance', 3300)]
columns = ['EmployeeName', 'Department', 'Salary']

df = spark.createDataFrame(data, schema=columns)

df1 = df.withColumn('SalaryBonus', df['Salary'] *0.1)
print("      Bonus Gaji Karyawan per Departmen")
df1.show()

df2 = df1.withColumn('TotalCompenstation', df1['Salary'] + df1['SalaryBonus'])
print("                      Total Kompensasi Karyawan")
df2.show()

      Bonus Gaji Karyawan per Departmen
+------------+----------+------+-----------+
|EmployeeName|Department|Salary|SalaryBonus|
+------------+----------+------+-----------+
|       James|     Sales|  3000|      300.0|
|     Michael|     Sales|  4600|      460.0|
|      Robert|     Sales|  4100|      410.0|
|       Maria|   Finance|  3000|      300.0|
|       Scoot|   Finance|  3300|      330.0|
+------------+----------+------+-----------+

                      Total Kompensasi Karyawan
+------------+----------+------+-----------+------------------+
|EmployeeName|Department|Salary|SalaryBonus|TotalCompenstation|
+------------+----------+------+-----------+------------------+
|       James|     Sales|  3000|      300.0|            3300.0|
|     Michael|     Sales|  4600|      460.0|            5060.0|
|      Robert|     Sales|  4100|      410.0|            4510.0|
|       Maria|   Finance|  3000|      300.0|            3300.0|
|       Scoot|   Finance|  3300|      330.0|            3630.0|
+------------+----------+------+-----------+------------------+

In [4]:
# Implementasi window function
from pyspark.sql import SparkSession
from pyspark.sql.window import Window
from pyspark.sql import functions as F

# Inisialisasi Spark
spark = SparkSession.builder.appName("Contoh").getOrCreate()

data = [('James', 'Sales', 3000),
        ('Michael', 'Sales', 4600),
        ('Robert', 'Sales', 4100),
        ('Maria', 'Finance', 3000),
        ('Scoot', 'Finance', 3300)]

# Membuat DataFrame
columns = ["Department", "EmployeeName", "Salary"]
df = spark.createDataFrame(data, columns)

# Contoh penggunaan window function
window_spec = Window.partitionBy("Department").orderBy("Salary")

# Menambahkan kolom gaji kumulatif
df_with_rank = df.withColumn("Rank", F.rank().over(window_spec))

# Menampilkan hasil
df_with_rank.show()

+----------+------------+------+----+
|Department|EmployeeName|Salary|Rank|
+----------+------------+------+----+
|     James|       Sales|  3000|   1|
|     Maria|     Finance|  3000|   1|
|   Michael|       Sales|  4600|   1|
|    Robert|       Sales|  4100|   1|
|     Scoot|     Finance|  3300|   1|
+----------+------------+------+----+

In [2]:
# Tugas 5
import kagglehub

# Download latest version
path = kagglehub.dataset_download("vijyushaburra/roti-datasets")

print("Path to dataset files:", path)

Using Colab cache for faster access to the 'roti-datasets' dataset.
Path to dataset files: /kaggle/input/roti-datasets

In [5]:
import os

print("Isi folder dataset:")
print(os.listdir(path))

Isi folder dataset:
['roti_dataset_labels.csv', 'dataset_images']

In [7]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col

# Inisialisasi Spark
spark = SparkSession.builder.appName("RotiDataset").getOrCreate()

# Membaca dataset
df = spark.read.csv(os.path.join(path, 'roti_dataset_labels.csv'), header=True, inferSchema=True)

# Melihat data awal
df.show()

# Mengidentifikasi kolom yang diperlukan
# Menggunakan 'label' dan 'image_name' berdasarkan pesan kesalahan

# Membersihkan data (jika ada nilai yang hilang)
df_cleaned = df.na.drop(subset=['label', 'image_name'])

# Manipulasi data: Misalnya, menghitung jumlah gambar per label
label_counts = df_cleaned.groupBy('label').count().orderBy('count', ascending=False)

# Menampilkan hasil
label_counts.show()

+-------------------+-----+
|         image_name|label|
+-------------------+-----+
|    roti_0_9969.jpg|    1|
| not_roti_0_541.jpg|    0|
|    roti_0_4888.jpg|    1|
|not_roti_0_3713.jpg|    0|
|not_roti_0_2790.jpg|    0|
|     roti_0_663.jpg|    1|
|     roti_0_329.jpg|    1|
|not_roti_0_2298.jpg|    0|
|    roti_0_6307.jpg|    1|
|not_roti_0_9058.jpg|    0|
|    roti_0_8795.jpg|    1|
|not_roti_0_5939.jpg|    0|
|    roti_0_7451.jpg|    1|
|not_roti_0_7855.jpg|    0|
|    roti_0_8182.jpg|    1|
| not_roti_0_302.jpg|    0|
|not_roti_0_9418.jpg|    0|
|    roti_0_7739.jpg|    1|
|    roti_0_4523.jpg|    1|
|not_roti_0_3029.jpg|    0|
+-------------------+-----+
only showing top 20 rows

+-----+-----+
|label|count|
+-----+-----+
|    1|  775|
|    0|  766|
+-----+-----+